[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.1"
django-cors-headers = "==4.9.0"
djangorestframework = "==3.18.0"
psycopg = "==3.3.4"
psycopg-binary = "==3.3.4"
python-decouple = "==3.8"
djangorestframework-simplejwt = "==2.8.0"

[dev-packages]
pytest = "==9.1.1"
pytest-django = "==4.14.0"

[requires]
python_version = "3.12"